.home_container{
    row-gap: 7rem;
}

.home_data{
    margin-top: auto; 
    margin-bottom: auto;
    order: 1;
    justify-self: center; 
    
}

.home_logo{
    display: flex;
    flex-direction: row-reverse;
}

.home_social-icon{
    font-size: 1.3rem;
    color: var(--title-color);
}

.home_title{
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
}

.home_subtitle{
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 5.4rem;
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
}

.home_subtitle::before{
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--text-color);
    left: 0;
    top: 1rem;
}

.home_description{
    max-width: 400px;
    margin-bottom: var(--mb-3);
}



.wheel{
    animation: scroll 2s ease infinite;
}

@keyframes scroll {
    0%{
        transform: translateY(0);
    }

    30%{
        transform: translateY(3.75rem);
    }
}
